@import "./def.scss";

$bg: black;
$fg: #e9e7f8;
$mid: hsl(240, 20%, 6%);

@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;900&display=swap");
@font-face {
  font-family: "Wild World";
  src: url("WildWorldBOLD.woff2") format("woff2"),
    url("WildWorldBOLD.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

$f: "Zen Kaku Gothic Antique";
$f-decor: "Zen Kaku Gothic Antique";
$f-decor: "Wild World";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg;
  color: $fg;
  font-family: $f;
}

.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  will-change: transform;
}

.icon {
  &.small {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.footer {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
  align-items: center;
}

.ml {
  margin-left: 2rem;
}

section {
  min-height: 100vh;
  position: relative;
}

.land__title {
  margin-top: 20vh;
  p {
    text-align: center;
    margin-bottom: 3rem;
  }
}

h1 {
  text-transform: uppercase;
  font-family: $f-decor;
  font-size: clamp(7vw, 3.5rem, 10rem);
  text-align: center;
}

.three {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.block {
  position: absolute;
  right: 10vw;
  bottom: 50vh;
  transform: translate(0, -50%);
  max-width: 30vw;
  @include bind_max("main") {
    max-width: 80vw;
  }
}

.menu {
  position: fixed;
  top: 20%;
  left: 2%;
  z-index: 100;
  .menu__link {
    transform: scale(0);
    cursor: pointer;
    background-color: $mid;
    padding: 0.7rem 2rem;
    text-align: center;
    margin: 0.6rem;
    border-radius: 10px;
  }
}

.cta {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
  cursor: pointer;
  text-decoration: none;
  color: $fg;
  background-color: #4706f8;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
  border-radius: 20px;
  text-align: center;
  padding: 1rem 5rem;
}

.loader {
  background-color: $bg;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader__icon {
  width: 100%;
  height: 100%;
}
